<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd"
       default-lazy-init="true">

    <context:component-scan base-package="ru.ibsqa.qualit">
        <context:exclude-filter type="assignable" expression="ru.ibsqa.qualit.definitions.repository.RepositoryVerifierSeleniumImpl"/>
    </context:component-scan>

    <import resource="config/repositories.xml"/>
    <import resource="config/drivers.xml"/>
</beans>