*.class
# Package Files #
*.war
*.ear
*.zip
*.iml
*.log
.project
.metadata
target/
_windows/
codestyles/
code.style.schemes.xml
debugger.renderers.xml
debugger.xml
editor.xml
find.xml
lombok.xml
ui.lnf.xml
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
local.properties
.classpath
.settings/
.loadpath
# Locally stored "Eclipse launch configurations"
*.launch
.idea/
*.classpath
*.project
*.settings
debug/
.allure/
XMLSchema/
logs/
mvnRepoLocal.bat
**/driver-instance/*
**/.flattened-pom.xml
**/allure-results/*